h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 16px;
}

button {
    cursor: pointer;
    border: none;
    background-color: #f0f8ff;
    margin: 16px;
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 100px;
    border: 2px solid #bcbcbc;
    outline: none;
    transition: background-color 250ms ease-in-out;
}

button:hover {
    background-color: #d7ecff;
}

button:active {
    background-color: #ffffff;
}

select {
    cursor: pointer;
    border: none;
    background-color: #f0f8ff;
    margin: 16px;
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 100px;
    border: 2px solid #bcbcbc;
    outline: none;
    transition: background-color 250ms ease-in-out;
}

section {
    width: 100vw;
    height: 100vh;
    display: none;
    place-items: center;
    .wrapper {
        display: grid;
        place-items: center;
        width: 100%;
    }
}

#version {
    position: fixed;
    top: 8px;
    left: 8px;
}

#webcam {
    border-radius: 16px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 32px;
    }
}

#result {
    margin-top: 16px;
    span {
        font-family: "Fira Code", monospace;
    }
}

#camera-picker {
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .wrapper {
        .images {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            img {
                width: 64px;
                height: 64px;
                border-radius: 8px;
                margin: 8px;
                cursor: pointer;
            }

            label {
                grid-column: 1 / -1;
                height: 64px;
                border-radius: 8px;
                margin: 8px;
                border: 2px solid #bcbcbc;
                display: grid;
                place-items: center;
                cursor: pointer;
                span {
                    text-align: center;
                }
                input {
                    display: none;
                    opacity: 0;
                }
            }
        }
    }
}

body section.show {
    display: grid;
}

.fabs {
    position: fixed;
    bottom: 16px;
    right: 16px;
    .fab {
        width: 48px;
        height: 48px;
        display: grid;
        place-items: center;
        cursor: pointer;
        outline: none;
        font-size: 18px;
        border-radius: 100px;
        border: 2px solid #bcbcbc;
        transition: background-color 250ms ease-in-out;
        background-color: #f0f8ff;
    }

    .fab:hover {
        background-color: #d7ecff;
    }

    .fab:active {
        background-color: #ffffff;
    }
}
